body{
  background-color: white;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bgcoloranimation 8s ease-out infinite  ;
}

@keyframes bgcoloranimation{
  0%{
    background-color: rgb(247, 93, 93);
  }
  25%{
    background-color: rgb(86, 54, 228);
  }
  50%{
     background-color: rgb(104, 235, 99);
  }
  75%{
    background-color: rgb(213, 223, 84);
  }
  100%{
      background-color: rgb(233, 98, 105);
  }
}

